* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.active {
  color: crimson;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}
.logo {
  font-size: 50px;
  color: whitesmoke;
}

.navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 18px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 30px;
}

section {
  width: 100vw;
  height: 100vh;
  background-image: url("./image/doctorclinic.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.line {
  width: 30%;
  height: 4px;
  background: crimson;
  margin: 2px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 6vmin;
  margin-top: 20px;
  margin-bottom: 30px;
}
.ctn {
  color: crimson;
  font-weight: bold;
  size: 25px;
}

.btn {
  margin: 0px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(183, 74, 74);
}

.parallaxtwo {
  width: 100vw;
  height: 100vh;
  background-image: url("./image/remote-patient-monitoring-hospital-er.png");
  background-attachment: fixed;
  <image src="/image/remote-patient-monitoring-hospital-"></image>
  background-position: bottom;
  background-size: 100% 100%;
  border: 1px solid;
}
.parallaxtwo h2 {
  position: relative;
  left: 600px;
  top: 300px;
  width: 300px;
  height: 50px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.nav-links {
  font-weight: bold;
  font-size: 18px;
  left: 100px;
}
.parallaxthree {
  width: 100vw;
  height: 100vh;
  background-image: url("./image/Doctors.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100% 100%;
  border: 1px solid;
}
.parallaxthree h2 {
  position: relative;
  left: 600px;
  top: 50px;
  width: 180px;
  height: 50px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.nav-panel {
  font-weight: bold;
  font-size: 15px;
  top: 150px;
  left: 80px;
  position: relative;
}
